# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local
bun.lockb

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sw?

# Test artifacts
coverage/
